html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  scroll-behavior: smooth;
  height: 100%; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden;
  height: 100%; }

a,
a:visited,
a:link,
a:active {
  text-decoration: none; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.container {
  width: 100vw;
  height: 100vh;
  padding: 1.875rem;
  background: radial-gradient(#1f3756, #141539); }

header {
  width: 100%;
  max-width: 44rem;
  border: 2px solid #606e85;
  border-radius: 10px;
  padding: 0.625rem; }
  header .logo {
    width: 5.125rem;
    height: 3.13rem; }
  header .score {
    width: 5rem;
    padding: 0.8rem;
    background: #e6e6e6;
    border-radius: 5px; }
    header .score__title {
      color: #2a46c0;
      text-transform: uppercase;
      font-size: 0.6rem;
      font-weight: 600;
      letter-spacing: 0.25em; }
    header .score__number {
      color: #3b4363;
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 1; }

.choose {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .choose__triangle {
    margin: auto;
    width: 60vw;
    max-width: 20rem;
    height: 60vw;
    max-height: 20rem;
    background-image: url("../images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative; }
  .choose__hand {
    position: absolute;
    width: clamp(7.125rem, 20vw, 10.75rem);
    height: clamp(7.125rem, 20vw, 10.75rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    -webkit-filter: drop-shadow(0 5px 5px rgba(10, 10, 10, 0.5));
            filter: drop-shadow(0 5px 5px rgba(10, 10, 10, 0.5));
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    cursor: pointer; }
  .choose__hand--paper {
    top: 10%;
    left: 10%;
    background: -webkit-gradient(linear, left top, right top, from(#4865f4), to(#5671f5));
    background: linear-gradient(90deg, #4865f4, #5671f5); }
  .choose__hand--paper:hover .hand-inner {
    background: #617bff; }
  .choose__hand--scissors {
    top: 10%;
    left: 90%;
    background: -webkit-gradient(linear, left top, right top, from(#ec9e0e), to(#eca922));
    background: linear-gradient(90deg, #ec9e0e, #eca922); }
  .choose__hand--scissors:hover .hand-inner {
    background: #ffaf1a; }
  .choose__hand--rock {
    bottom: -30%;
    left: 50%;
    background: -webkit-gradient(linear, left top, right top, from(#dc2e4e), to(#dd405d));
    background: linear-gradient(90deg, #dc2e4e, #dd405d); }
  .choose__hand--rock:hover .hand-inner {
    background: #fa294f; }

.hand-inner {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: inset 0 3px 5px rgba(10, 10, 10, 0.5);
          box-shadow: inset 0 3px 5px rgba(10, 10, 10, 0.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .hand-inner .hand-img {
    width: 50%; }

.hand-inner--npc {
  visibility: hidden; }

.game {
  width: 100%;
  height: 100%;
  max-width: 60rem;
  padding-top: 10%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .game__player {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media only screen and (min-width: 47.5rem) {
      .game__player {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .game__player__title {
      margin-top: 1em;
      margin-bottom: 3em;
      text-transform: uppercase;
      text-align: center;
      font-size: clamp(0.8rem, 2vw, 1.2rem);
      font-weight: 600;
      letter-spacing: 0.15em;
      color: #e6e6e6; }
    .game__player .hand {
      width: clamp(8.125rem, 30vw, 18.75rem);
      height: clamp(8.125rem, 30vw, 18.75rem);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border-radius: 50%;
      -webkit-filter: drop-shadow(0 5px 5px rgba(10, 10, 10, 0.5));
              filter: drop-shadow(0 5px 5px rgba(10, 10, 10, 0.5));
      z-index: 1; }
    .game__player .hand--paper {
      background: -webkit-gradient(linear, left top, right top, from(#4865f4), to(#5671f5));
      background: linear-gradient(90deg, #4865f4, #5671f5); }
    .game__player .hand--scissors {
      background: -webkit-gradient(linear, left top, right top, from(#ec9e0e), to(#eca922));
      background: linear-gradient(90deg, #ec9e0e, #eca922); }
    .game__player .hand--rock {
      background: -webkit-gradient(linear, left top, right top, from(#dc2e4e), to(#dd405d));
      background: linear-gradient(90deg, #dc2e4e, #dd405d); }

.game__player--human {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.game__player--npc {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

.wait {
  width: clamp(6.125rem, 30vw, 16.75rem);
  height: clamp(6.125rem, 30vw, 16.75rem);
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3); }

.winner {
  position: relative; }

@-webkit-keyframes pulse {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes pulse {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.winner::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 20px rgba(250, 250, 250, 0.07), 0 0 0 50px rgba(250, 250, 250, 0.05), 0 0 0 100px rgba(250, 250, 250, 0.03);
          box-shadow: 0 0 0 20px rgba(250, 250, 250, 0.07), 0 0 0 50px rgba(250, 250, 250, 0.05), 0 0 0 100px rgba(250, 250, 250, 0.03);
  -webkit-animation: pulse 1s 5 alternate;
          animation: pulse 1s 5 alternate;
  position: absolute;
  z-index: -1; }

.result {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in; }
  @media only screen and (min-width: 47.5rem) {
    .result {
      -webkit-transform: translateY(-300%);
              transform: translateY(-300%); } }
  .result__title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #e6e6e6;
    text-transform: uppercase;
    margin-bottom: 0.25em; }
  .result__btn {
    font-family: inherit;
    color: #3b4363;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    background: #e6e6e6;
    padding: 1em 3em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    -webkit-transition: color 0.5s ease-in;
    transition: color 0.5s ease-in; }
  .result__btn:hover {
    color: red; }

.btn-container {
  position: absolute;
  bottom: 2vh;
  left: 0;
  width: 100%;
  height: 2.625rem; }
  @media only screen and (min-width: 47.5rem) {
    .btn-container {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      padding-right: 3rem; } }
  .btn-container .rules-btn {
    width: 8.125rem;
    height: 100%;
    border: 2px solid #e6e6e6;
    color: #e6e6e6;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.15em;
    border-radius: 10px;
    background: none;
    cursor: pointer;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in; }
  .btn-container .rules-btn:hover {
    background: #e6e6e6;
    color: #3b4363; }

.rules-modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 5rem 1rem;
  background: #e6e6e6;
  z-index: 100; }
  @media only screen and (min-width: 47.5rem) {
    .rules-modal {
      width: 27rem;
      height: 28.25rem;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 2rem;
      border-radius: 10px; } }
  .rules-modal .rules-modal__title {
    font-size: 2rem;
    text-transform: uppercase;
    color: #3b4363; }
  .rules-modal .rules-img {
    width: 100%; }
    @media only screen and (min-width: 47.5rem) {
      .rules-modal .rules-img {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        width: 19rem;
        margin: 0 auto; } }
  .rules-modal .close-btn {
    width: 7%;
    cursor: pointer; }
    @media only screen and (min-width: 47.5rem) {
      .rules-modal .close-btn {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; } }

.attribution {
  width: 100vw;
  height: 5rem;
  background: #141539;
  color: #e6e6e6; }

.attribution a {
  color: #606e85;
  text-decoration: underline;
  margin-left: 0.5em; }
