html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0; 
}

body {
    overflow-x: hidden;
    height: 100%;
    
}

h1,
h2 {
    font-family: "Montserrat", sans-serif;
}

a,
a:visited,
a:link,
a:active {
    text-decoration: none;
    color: $primaryColor;
}

.btn {
    width: 11.5rem;
    height: 2.125rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primaryColor;
    background: transparent;
    border: 1px solid $primaryColor;
    border-radius: 5px; 
    font-family: "Roboto", sans-serif;
    font-size: 1rem;   
    font-weight: 300;    
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: $primaryColor;
    color: $bgColor;
    box-shadow: 0 0 5px $primaryColor;
}

.btn:hover a {
    color: $bgColor;

}

@mixin flex-center($direction) {
    display: flex;
    flex-direction: $direction;
    // justify-content: center;
    align-items: center;
}

@mixin headline {
    font-size: clamp(1.5rem, 2.3vw, 1.75rem);
    font-weight: 300;
    text-align: center;
}

@mixin headline-bold {
    font-size: clamp(1.75rem, 2.5vw, 4rem);
    font-weight: 500;
    text-align: center;
    color: $primaryColor;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@mixin sub-headline {
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    font-weight: 300;
    text-align: center;
}

@mixin paragraph {
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    font-weight: 300;
    text-align: justify;
}
