@import "variables";
@import "globals";

/* --- START NAVBAR --- */

.nav {
    width: 100vw;
    height: 4.6875rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $bgColor;
    //border-bottom: 1px solid $primaryColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    z-index: 5;

    &__logo-wrapper {
        @include flex-center(row);
    }

    &__logo {
        height: 6.25rem;
        width: auto;
    }

    &__brand {
        color: $primaryColor;
        font-size: 1.2rem;
        font-weight: 300;
    }

    &__btn-container {
        width: 2.125rem;
        height: 2.5rem;
        @include flex-center(row);
        justify-content: center;
        cursor: pointer;
        position: relative;

        @media only screen and (min-width: 45rem) {
            display: none;
        }
    }

    &__btn {
        width: 1.875rem;
        height: 0.125rem;
        background: $primaryColor;
        border-radius: 5px;
        transition: all 0.3s ease-out;
    }

    &__btn::before {
        content: "";
        width: 1.875em;
        height: 0.125rem;
        background: $primaryColor;
        border-radius: 5px;
        position: absolute;
        top: 0.625rem;
        left: 0.125rem;
        transition: all 0.3s ease-out;
    }

    &__btn::after {
        content: "";
        width: 1.875em;
        height: 0.125rem;
        background: $primaryColor;
        border-radius: 5px;
        position: absolute;
        bottom: 0.625rem;
        left: 0.125rem;
        transition: all 0.3s ease-out;
    }

    &__btn-container.open .nav__btn {
        transform: translateX(1.875rem);
        background: transparent;
    }

    &__btn-container.open .nav__btn::before {
        transform: translate(-1.875rem, -0.625rem) rotate(45deg);
    }

    &__btn-container.open .nav__btn::after {
        transform: translate(-1.875rem, 0.625rem) rotate(-45deg);
    }

    &__links-container {
        position: absolute;
        top: 4.6875rem;
        left: 0;
        width: 100vw;

        @include flex-center(column);
        line-height: 2.5em;
        border-bottom: 1px solid $primaryColor;

        @media only screen and (min-width: 45em) {
            visibility: visible;
            position: unset;
            width: auto;
            display: unset;
            border-bottom: unset;
        }
    }

    &__link {
        width: 100%;
        height: 2.5rem;
        font-weight: 300;
        text-decoration: none;
        text-align: center;
        color: $primaryColor;
        background: $bgColor;
        border-bottom: 1px solid $primaryColor;
        transition: opacity 0.3s ease-in, transform 0.5s ease-in-out;
        position: absolute;
        opacity: 0;

        @media only screen and (min-width: 45rem) {
            border-bottom: unset;
            padding-right: 0.6rem;
            opacity: 1 !important;
            position: relative;
        }
    }

    &__link::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        border-bottom: 1px solid $primaryColor;
        transition: width 0.2s ease-in;
    }

    &__link:hover::after {
        @media only screen and (min-width: 45rem) {
            width: 90%;
        }
    }
}

/* --- END NAVBAR --- */

/* --- START HERO PAGE --- */

.hero {
    width: 100vw; 
    height: 100vh;
    padding-top: 4.6875rem;
    background-image: url(../images/klippeHoch.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: $primaryColor;
    position: relative;
    @include flex-center(column);
    justify-content: space-evenly;

    @media only screen and (max-height: 35.625rem) {
        height: 100%;
    }

    @media only screen and (min-width: 50rem) {
        background-image: url(../images/klippe.jpg);
    } 

    &__headline {
        padding-top: 1rem;
        font-size: clamp(1.5rem, 5vw, 4rem);
        font-weight: 300;
        text-align: center;
    }

    &__btn {
        width: 12.5rem;
        height: 3.125rem;
        @include flex-center(row);
        justify-content: center;
        border: 1px solid $primaryColor;
        border-radius: 5px;
        margin: 3rem;
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        font-weight: 300;
        color: $primaryColor;
        background-color: rgba(52, 58, 64, 0.8);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    &__btn:hover {
        background-color: $primaryColor;       
        box-shadow: 0 0 5px $primaryColor;
    }

    &__btn:hover a {
        color: $bgColor;
    }

    &__sub-headline-container {
        text-align: center;

        @media only screen and (min-width: 56.25rem) {
            width: 90%;
            max-width: 75rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__sub-headline {
        font-weight: 300;
        font-size: clamp(1.25rem, 2.2vw, 1.75rem);
        margin-bottom: 0.75rem;
    }

    &__quote {
        text-align: center;
        font-size: clamp(0.9rem, 1.8vw, 1.5rem);
        font-weight: 300;
        line-height: 1.5em;
        margin-top: 1rem;
        padding: 1rem;
    }
}

/* --- END HERO PAGE --- */

/* --- START MODELL SECTION --- */

.modell {
    height: 100%;
    width: 100vw;
    background: $bgColor;
    color: $primaryColor;
    padding: 4rem 5vw 2rem 5vw;
    box-shadow: 0 10px 25px black;

    @media only screen and (min-width: 50rem) {
        display: grid;
        grid-template-columns: repeat(12, minmax(30px, 1fr));
        grid-template-rows: 0.5fr 2fr 0.25fr 0.25fr 2fr;
    }

    &__headline {
        grid-column: 2/12;
        @include headline;
        padding: 1rem;
    }

    &__sub-headline {
        grid-column: 2/12;
        @include sub-headline;

        @media only screen and (min-width: 50rem) {
            grid-column: 7/12;
            grid-row: 4/5;
            text-align: left;
            padding-left: 1rem;
        }
    }

    .headline1 {
        @media only screen and (min-width: 50rem) {
            grid-column: 1/7;
            grid-row: 1/2;
            text-align: left;
        }
    }

    .headline2 {
        @media only screen and (min-width: 50rem) {
            grid-column: 7/12;
            grid-row: 3/4;
            text-align: left;
            padding-left: 1rem;
        }
    }

    &__img-container {
        grid-column: 2/12;
        padding: 1rem;
    }

    .img1 {
        @media only screen and (min-width: 50rem) {
            grid-column: 7/13;
            grid-row: 1/3;
        }
    }

    .img2 {
        @media only screen and (min-width: 50rem) {
            grid-column: 1/7;
            grid-row: 3/6;
        }
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__text {
        @include paragraph;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        line-height: 1.5em;
        text-align: justify;

        @media only screen and (min-width: 50rem) {
            // text-align: left;
        }
    }

    .paragraph-1 {
        grid-column: 2/12;
        

        @media only screen and (min-width: 50rem) {
            grid-column: 1/7;
            grid-row: 2/3;
        }
    }

    .paragraph-2 {
        grid-column: 2/12;
        

        @media only screen and (min-width: 50rem) {
            grid-column: 7/13;
            grid-row: 5/6;
        }
    }
}

/* --- END MODELL SECTION --- */

/* --- START ANGEBOTE SECTION --- */

.angebote {
    width: 100vw;
    height: 100%;
    padding-top: 4rem;
    background-image: url(../images/tree.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: $primaryColor;
    @include flex-center(column);

    @supports not (background-attachment: fixed) {
        background-image: linear-gradient(to bottom, #A4979D, #CCB323);
    }

    &__headline {
        font-size: clamp(1.75rem, 2.5vw, 4rem);
        font-weight: 500;
        text-align: center;
        color: $primaryColor;
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-shadow: 0 0 10px $bgColor;
    }

    .flex-container {
        @include flex-center(column);
        width: 90vw;
        margin-bottom: 3rem;
        box-shadow: 0 10px 25px black;

        @media only screen and (min-width: 62.5rem) {
            flex-direction: row;
            align-items: stretch;
        }
    }

    .container-lifeCoaching,
    .container-gast {
        @media only screen and (min-width: 62.5rem) {
            flex-direction: row-reverse;
        }
    }

    &__text-container {
        width: 90vw;
        padding: 2rem;
        background: $bgColor;
        @include flex-center(column);

        
    }

    &__title {
        @include sub-headline;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

        @media only screen and (min-width: 62.5rem) {
            margin-top: unset;
        }
    }

    &__text {
        @include paragraph;
        line-height: 1.75em;
    }

    &__img-container {
        width: 90vw;
        height: auto;
        background: $bgColor;
    }

    &__img {
        width: 100%;
        display: block;
    }
}

/* --- END ANGEBOTE SECTION --- */

/* --- START ABOUT SECTION --- */

.about {
    padding-top: 4rem;
    width: 90vw;
    @include flex-center(column);
    color: $primaryColor;

    &__headline {
        @include headline-bold;
        text-shadow: 0 0 10px $bgColor;
    }

    &__content-container {
        background: $bgColor;

        @media only screen and (min-width: 46.875rem) {
            flex-direction: row !important;
            align-items: stretch;
        }

        @media only screen and (min-width: 62.5rem) {
            width: 90vw;
            max-width: 62.5rem;
        }
    }

    &__img-container {
        width: 70vw;
        max-width: 25rem;
        height: auto;
        background: $bgColor;
    }

    &__img {
        width: 100%;
        display: block;
    }

    &__text-container {
        width: 90vw;
        padding: 2rem;
        background: $bgColor;

        @media only screen and (min-width: 62.5rem) {
            @include flex-center(column);
            align-items: unset;
        }
    }

    &__name {
        @include sub-headline;
        margin-top: 1rem;
        margin-bottom: 0.125rem;

        @media only screen and (min-width: 46.875rem) {
            text-align: left;
            margin-top: unset;
        }
    }

    &__name-title {
        text-align: center;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 1rem;
        font-size: clamp(1rem, 1.5vw, 1.2rem);
        font-weight: 300;

        @media only screen and (min-width: 46.875rem) {
            text-align: left;
            margin-top: unset;
        }
    }

    &__text {
        @include paragraph;

        line-height: 1.5em;
    }

    .blog-link {
        font-weight: 500;
        color: $primaryColor;
        text-decoration: underline;
    }
}

/* --- END ABOUT SECTION --- */

/* --- START FOOTER SECTION --- */

.footer {
    width: 100vw;
    background: $bgColor;
    color: $primaryColor;
    @include flex-center(column);

    &__links-container {
        margin-top: 2rem;
        margin-bottom: 2rem;
        @include flex-center(column);
    }

    .email {
        font-size: clamp(1.2rem, 2vw, 1.5rem);
        font-weight: 300;
        color: $primaryColor;
        margin-bottom: 2rem;
    }

    .email:hover {
        text-decoration: underline;
    }

    &__social-links-container {
        width: 100vw;
        display: flex;
        justify-content: space-evenly;

        @media only screen and (min-width: 46.875rem) {
            width: 50vw;
        }
    }

    .fab {
        font-size: 3rem;
        color: $primaryColor;
        position: relative;
    }
    
    .fab::after {
        content: '';
        position: absolute;
        left: 0;
        top: 3px;
        height: 2.6875rem;
        width: 2.625rem;   
        border: 1px solid $primaryColor;     
        border-radius: 5px;
        transform-origin: center;
        transition: transform .3s ease-in;
    }

    .fab:hover::after {
        transform: scale(1.3);
    }

    p {
        font-weight: 300;
        margin-bottom: 1rem;
    }

    .impressum-links {
        width: 50vw;
        @include flex-center(column);
    }

    .impressum,
    .datenschutz {
        margin-bottom: 1rem;
        color: $primaryColor;
    }
}
